<a href="https://colab.research.google.com/github/Erickrodriguez3/mineria-datos/blob/main/python_tarea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
matricula =input("Introduce tu matricula: ") #No se usó int() porque no se ocupa hacer operaciones con esta variable
nombre = input("Introduzca su nombre completo: ")
 
print("Su nombre es: "+ nombre + " y su matricula es: "+ matricula)

Introduce tu matricula: 1803744
Introduzca su nombre completo: Erick Alejandro Rodriguez Estrada
Su nombre es: Erick Alejandro Rodriguez Estrada y su matricula es: 1803744

In [ ]:
n1 = int(input("Ingrese un número por favor: "))
n2 = int(input("Ingrese un número por favor: "))
 
suma = n1 + n2
resta= n1 - n2
multi= n1 * n2
divi = n1 / n2
expo = n1**n2
 
print("Suma ->",n1, "+", n2, "=",suma)
print("Resta ->",n1, "-",n2,"=",resta)
print("Multiplicacion ->", n1, "*",n2,"=",multi)
print("Division ->",n1, "/",n2,"=",divi)
print("Exponencial ->",n1, "**",n2,"=",expo)

Ingrese un número por favor: 3
Ingrese un número por favor: 4
Suma -> 3 + 4 = 7
Resta -> 3 - 4 = -1
Multiplicacion -> 3 * 4 = 12
Division -> 3 / 4 = 0.75
Exponencial -> 3 ** 4 = 81

In [ ]:
lista=[]
for i in range(0,10):
    lista.append(3*(i+1))
    
print(lista)


acumulador=0
i=0
while i<len(lista):
    acumulador=acumulador+lista[i]
    i=i+1
acumulador

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

165

In [ ]:

a=int(input("Ingrese un numero entero: "))
divisores=0

if a%2==0:
    print("El numero es par")
else: 
    print("El numero es  impar")

for j in range(1,a+1):
    if a%j==0:
        divisores+=1

if divisores==2:
    print("El número es primo")
else:
    print("El numero no es primo")

Ingrese un numero entero: 29
El numero es  impar
El número es primo

In [ ]:
def suma(a,b):
    s=a+b
    return s

def resta(a,b):
    r=a-b
    return r

def multiplicacion(a,b):
    m=a*b
    return m

def división(a,b):
    d=a/b
    return d

def exponente(a,b):
    expo=a**b
    return expo

    
import os
borrarPantalla = lambda: os.system ("cls") #al parecer  no funciona aquí 
borrarPantalla() #Limpia la pantalla
#https://unipython.com/como-borrar-pantalla-en-python/

numero1=int(input("Ingrese un numero  a: "))
numero2=int(input("Ingrese otro numero b: "))
#while op>0: 
print("Seleccione la operación que desea realizar:")
print("1.-Ingresar 2 nuevos numeros")
print("2.-Suma a+b")
print("3.-Resta a-b")
print("4.-Multiplicación a*b")
print("5.-Exponente a**b")
print("0.-Salir")
op=int(input("Ingrese la el numero de la operación que desee realizar: "))
    #borrarPantalla()
    
    
if op==1:
    numero1=int(input("Ingrese un numero  a: "))
    numero2=int(input("Ingrese otro numero b: "))
    #input("Presione enter para continuar: ")
        #borrarPantalla()
elif op==2:
    print(numero1, "+", numero2, "=", suma(numero1,numero2))
    #input("Presione enter para continuar: ")
        #borrarPantalla()
elif op==3:
    print(numero1, "-", numero2, "=", resta(numero1,numero2))
    input("Presione enter para continuar: ")
        #borrarPantalla()
elif op==4:
    print(numero1, "*", numero2, "=", multiplicacion(numero1,numero2))
    input("Presione enter para continuar: ")
        #borrarPantalla()
elif op==5:
    print(numero1, "**", numero2, "=", exponente(numero1,numero2))
    input("Presione enter para continuar: ")
        #borrarPantalla()
elif op==0:
    print("Gracias")
else:
    input("La opción ingresada es invalida, intente de nuevo, presione enter para continuar")
        #borrarPantalla()

Ingrese un numero  a: 8
Ingrese otro numero b: 17
Seleccione la operación que desea realizar:
1.-Ingresar 2 nuevos numeros
2.-Suma a+b
3.-Resta a-b
4.-Multiplicación a*b
5.-Exponente a**b
0.-Salir
Ingrese la el numero de la operación que desee realizar: 4
8 * 17 = 136
Presione enter para continuar:

In [ ]:
lista1=[]
lista1.append(float(3.1416))
lista1.append(int(28))
lista1.append(bool(28))
lista1.append(4+3j)
tupla1=tuple(lista1)

for i in range(0,len(tupla1)):
    print(type(tupla1[i]))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

In [ ]:
tupla2=(1,2,3,4,5,6,7,8,9,10)

print(tupla2[0])
print(tupla2[9])

1
10

In [ ]:
lista2=list(tupla2)
lista2.append("a")
lista2.append("b")
lista2.append("c")
tupla3=tuple(lista2)

print(tupla3)
print(type(tupla3[10]))
print(type(tupla3[11]))
print(type(tupla3[12]))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c')
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
print("El MAX" in tupla3)
print("a" in tupla3)

False
True

In [ ]:
import random as r
lista40=[]
for i in range(0,40):
    lista40.append(r.randint(1,100))
 
print(lista40)

[7, 98, 59, 30, 42, 29, 32, 55, 44, 81, 5, 74, 46, 12, 84, 2, 44, 28, 22, 63, 35, 35, 14, 3, 2, 72, 4, 62, 29, 61, 77, 100, 6, 12, 50, 98, 10, 69, 42, 93]

In [ ]:
pares=[]
impares=[]
def parimpar(lista):
    valor=0
    for j in range(0,len(lista)):
        valor=lista[j]
        if valor%2==0:
            pares.append(valor)
        else:
            impares.append(valor)
    
    return pares,impares

    
parimpar(lista40)

([98,
  30,
  42,
  32,
  44,
  74,
  46,
  12,
  84,
  2,
  44,
  28,
  22,
  14,
  2,
  72,
  4,
  62,
  100,
  6,
  12,
  50,
  98,
  10,
  42],
 [7, 59, 29, 55, 81, 5, 63, 35, 35, 3, 29, 61, 77, 69, 93])

In [ ]:
lonpar=len(pares)
lonimpar=len(impares)

print(lonpar)
print(lonimpar)

25
15

In [ ]:
pares.sort(reverse=True) #https://j2logo.com/python/ordenar-una-lista-en-python/#ordenar-basico
print(pares,len(pares))

impares.sort()
print(impares,len(impares))

[100, 98, 98, 84, 74, 72, 62, 50, 46, 44, 44, 42, 42, 32, 30, 28, 22, 14, 12, 12, 10, 6, 4, 2, 2] 25
[3, 5, 7, 29, 29, 35, 35, 55, 59, 61, 63, 69, 77, 81, 93] 15

In [ ]:
lista40.pop()
print(lista40)
lista40.append(10000)
print(lista40)
lista40.extend([101,102,103])
print(lista40)
lista40.sort()
print(lista40)

[7, 98, 59, 30, 42, 29, 32, 55, 44, 81, 5, 74, 46, 12, 84, 2, 44, 28, 22, 63, 35, 35, 14, 3, 2, 72, 4, 62, 29, 61, 77, 100, 6, 12, 50, 98, 10, 69, 42]
[7, 98, 59, 30, 42, 29, 32, 55, 44, 81, 5, 74, 46, 12, 84, 2, 44, 28, 22, 63, 35, 35, 14, 3, 2, 72, 4, 62, 29, 61, 77, 100, 6, 12, 50, 98, 10, 69, 42, 10000]
[7, 98, 59, 30, 42, 29, 32, 55, 44, 81, 5, 74, 46, 12, 84, 2, 44, 28, 22, 63, 35, 35, 14, 3, 2, 72, 4, 62, 29, 61, 77, 100, 6, 12, 50, 98, 10, 69, 42, 10000, 101, 102, 103]
[2, 2, 3, 4, 5, 6, 7, 10, 12, 12, 14, 22, 28, 29, 29, 30, 32, 35, 35, 42, 42, 44, 44, 46, 50, 55, 59, 61, 62, 63, 69, 72, 74, 77, 81, 84, 98, 98, 100, 101, 102, 103, 10000]

In [ ]:
dic={"David":24,"Ricardo":25,"German":22,"Sergio":22,"Jared":20,"Cesar":26}
print(dic)

{'David': 24, 'Ricardo': 25, 'German': 22, 'Sergio': 22, 'Jared': 20, 'Cesar': 26}

In [ ]:
edades=list(dic.values())
print(edades)
edades.sort()
print(edades)

[24, 25, 22, 22, 20, 26]
[20, 22, 22, 24, 25, 26]

In [ ]:
#https://devcode.la/tutoriales/diccionarios-en-python/ 
for key in dic:
    print(key)

David
Ricardo
German
Sergio
Jared
Cesar

In [ ]:
dic["Elias"]=23
dic["Salchi"]=24
print(dic)

{'David': 24, 'Ricardo': 25, 'German': 22, 'Sergio': 22, 'Jared': 20, 'Cesar': 26, 'Elias': 23, 'Salchi': 24}

In [ ]:
s=set()
for i in range(0,100):
    s.add(r.randint(1,25))
    
print(s) #? No repite numeros

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

In [ ]:
print(len(s)) #???

25

In [ ]:
lista10=[]
for i in range(0,5):
    lista10.append(r.randint(1,10))
print(lista10)
 
for i in lista10:
    print(i in s)

[3, 4, 8, 1, 2]
True
True
True
True
True